[submodule "backend"]
	path = backend
	branch = main
	update = merge
	url = https://github.com/bar-maz-mgr/backend-aplikacji-glownej
[submodule "frontend"]
	path = frontend
	branch = main
	update = merge
	url = https://github.com/bar-maz-mgr/frontend-aplikacji-glownej
